<a href="https://colab.research.google.com/github/anirbansaha96/AI-ML-Playground/blob/master/Tables_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Prerequisite: I've attached the docx and PDF files, incase you want to run the notebook.

In [0]:
!pip install docx2python

In [0]:
from docx2python import docx2python

In [0]:
doc=docx2python('table_read_test.docx')

In [0]:
doc.body

[[[['This is a text.', 'Para 2 starts. Now next we have a table']]],
 [[['1'], ['2']], [['3'], ['4']]],
 [[['', '', 'Next Page.', 'Para 2 of Page2. Now we have a table:']]],
 [[['(1,1)'], ['(1,2)'], ['(1,3)'], ['(1,4)']],
  [['(2,1)'], ['(2,2)'], ['(2,3)'], ['(2,4)']],
  [['(3,1)'], ['(3,2)'], ['(3,3)'], ['(4,4)']]],
 [[['']]]]

In [0]:
doc.body[0]

[[['This is a text.', 'Para 2 starts. Now next we have a table']]]

In [0]:
doc.body[1]

[[['1'], ['2']], [['3'], ['4']]]

In [0]:
doc.body[2]

[[['', '', 'Next Page.', 'Para 2 of Page2. Now we have a table:']]]

In [0]:
doc.body[3]

[[['(1,1)'], ['(1,2)'], ['(1,3)'], ['(1,4)']],
 [['(2,1)'], ['(2,2)'], ['(2,3)'], ['(2,4)']],
 [['(3,1)'], ['(3,2)'], ['(3,3)'], ['(4,4)']]]

In [0]:
!pip install PyPDF2

In [0]:
import PyPDF2
article=[]
pdfFileObj = open('table_read_test_pdf.pdf', 'rb') 
pdfReader = PyPDF2.PdfFileReader(pdfFileObj) 
for page in range(pdfReader.numPages):
  pageObj = pdfReader.getPage(page)
  article.append(pageObj.extractText())

In [0]:
article

['This is a text\n.\n \nPara 2 starts. Now next we have a table\n \n1\n \n2\n \n3\n \n4\n \n \n \n \n',
 'Next Page.\n \nPara 2 of Page2\n. Now we \nhave\n \na t\nab\nle:\n \n(\n1,\n1)\n \n(1,2)\n \n(1,3)\n \n(1,4)\n \n(2,1)\n \n(2,2)\n \n(2,3)\n \n(2,4)\n \n(3,1)\n \n(3,2)\n \n(3,3)\n \n(4,4)\n \n \n']

We see that the way the table has been read is like a text itself. One advantage might be that it will work easily with existing text summarization methods. However there will be no clear demarcation between tables and texts and the clarity this adds to the article will be lost.

In [0]:
!pip install tabula-py

In [0]:
#Tabula-Py requires a Java environment to work.
!java -version

openjdk version "11.0.7" 2020-04-14
OpenJDK Runtime Environment (build 11.0.7+10-post-Ubuntu-2ubuntu218.04)
OpenJDK 64-Bit Server VM (build 11.0.7+10-post-Ubuntu-2ubuntu218.04, mixed mode, sharing)

In [0]:
import tabula

In [0]:
tables=tabula.read_pdf('table_read_test_pdf.pdf',pages="all", stream=True,pandas_options={'header': None})

In [0]:
len(tables)

2

In [0]:
tables[0]

   0  1
0  1  2
1  3  4

In [0]:
tables[1]

       0      1      2      3
0  (1,1)  (1,2)  (1,3)  (1,4)
1  (2,1)  (2,2)  (2,3)  (2,4)
2  (3,1)  (3,2)  (3,3)  (4,4)

The benefit of this method is we get a dataframe of the table contents. However it works with PDFs only, we can easily use docx2python and indexing to form a dataframe from the table there

In [0]:
import pandas as pd

In [0]:
dataframe = pd.DataFrame(data=doc.body[3])

In [0]:
dataframe

         0        1        2        3
0  [(1,1)]  [(1,2)]  [(1,3)]  [(1,4)]
1  [(2,1)]  [(2,2)]  [(2,3)]  [(2,4)]
2  [(3,1)]  [(3,2)]  [(3,3)]  [(4,4)]